* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  h1 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-top: 0;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
    color: #666;
    margin-bottom: 20px;
  }
  
  ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 20px;
  }
  
  ul li {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  ul li:last-child {
    border-bottom: none;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
.footer {
    
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    margin-top: 94px;
    margin-bottom:0;
  }
  
  .footer h4 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .footer ul {
    list-style: none;
    padding: 0;
  }
  
  .footer ul li {
    margin-bottom: 10px;
  }
  
  .footer ul li a {
    text-decoration: none;
    color: #fff;
  }

  .footer i {
    margin-right: 10px;
  }

  .csrf{
    display: none;
  }
